.prompt-thin { font-family: "Prompt", sans-serif; font-weight: 100; font-style: normal; }
.prompt-extralight { font-family: "Prompt", sans-serif; font-weight: 200; font-style: normal; }
.prompt-light { font-family: "Prompt", sans-serif; font-weight: 300; font-style: normal; }
.prompt-regular { font-family: "Prompt", sans-serif; font-weight: 400; font-style: normal; }
.prompt-medium { font-family: "Prompt", sans-serif; font-weight: 500; font-style: normal; }
.prompt-semibold { font-family: "Prompt", sans-serif; font-weight: 600; font-style: normal; }
.prompt-bold { font-family: "Prompt", sans-serif; font-weight: 700; font-style: normal; }
.prompt-extrabold { font-family: "Prompt", sans-serif; font-weight: 800; font-style: normal; }
.prompt-black { font-family: "Prompt", sans-serif; font-weight: 900; font-style: normal; }
.prompt-thin-italic { font-family: "Prompt", sans-serif; font-weight: 100; font-style: italic; }
.prompt-extralight-italic { font-family: "Prompt", sans-serif; font-weight: 200; font-style: italic; }
.prompt-light-italic { font-family: "Prompt", sans-serif; font-weight: 300; font-style: italic; }
.prompt-regular-italic { font-family: "Prompt", sans-serif; font-weight: 400; font-style: italic; }
.prompt-medium-italic { font-family: "Prompt", sans-serif; font-weight: 500; font-style: italic; }
.prompt-semibold-italic { font-family: "Prompt", sans-serif; font-weight: 600; font-style: italic; }
.prompt-bold-italic { font-family: "Prompt", sans-serif; font-weight: 700; font-style: italic; }
.prompt-extrabold-italic { font-family: "Prompt", sans-serif; font-weight: 800; font-style: italic; }
.prompt-black-italic { font-family: "Prompt", sans-serif; font-weight: 900; font-style: italic; }

body {
  background-image: url("https://wallpapercave.com/wp/wp2721329.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; 
  font-family: "Prompt", sans-serif; 
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.container {
  position: relative;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideUp 0.8s ease-out; 
}

.content {
  width: 600px;
  padding: 24px;
  background-color: rgba(255, 255, 255, 0.2); 
  border: 2px solid #ffffff;
  border-radius: 8px; 
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.title {
  font-weight: bold;
  font-size: 1.875rem;
  margin-bottom: 16px;
  color: black;
  text-align: center; 
}

.description {
  color: black;
  text-align: center; 
} 

.priority-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.priority-buttons button {
  width: 30%;
  padding: 8px 0;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

.priority-buttons .button-high {
  background-color: #f8d7da; 
}

.priority-buttons .button-medium {
  background-color: #fff3cd; 
}

.priority-buttons .button-low {
  background-color: #d4edda; 
}

.priority-buttons button.active {
  opacity: 0.7; 
  border: 2px solid #000; 
}

.input {
  width: 100%; 
  height: 40px;
  padding: 0 16px; 
  border-radius: 20px; 
  border: 2px solid #e5e7eb; 
  outline: none; 
  font-size: 16px;
  box-sizing: border-box; 
  background-color: white; 
  color: black; 
  transition: border-color 0.3s ease; 
}

.todo-item {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 7px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button {
  width: 100%; 
  height: 40px; 
  padding: 0 16px; 
  margin-top: 16px; 
  border-radius: 20px; 
  border: none; 
  background-color: #16243a; 
  color: #fff; 
  font-size: 16px; 
  cursor: pointer; 
  box-sizing: border-box; 
  transition: background-color 0.3s ease, transform 0.2s ease; 
}

.button:hover {
  background-color: #6d5656; 
}

.button:active {
  transform: scale(0.98); 
}

.remove-button {
  background-color: #16243a; 
  color: #fff; 
  border: none; 
  padding: 8px 12px; 
  border-radius: 9999px; 
  cursor: pointer; 
  transition: background-color 0.3s ease, transform 0.2s ease; 
  font-size: 14px; 
  font-weight: bold; 
  margin-left: auto; 
}

.remove-button:hover {
  background-color: #6d5656; 
}

.remove-button:active {
  transform: scale(0.95); 
}

@keyframes slideUp {
  from {
    transform: translateY(100px); 
    opacity: 0; 
  }
  to {
    transform: translateY(0); 
    opacity: 1; 
  }
}
